nav .current {
  background-color: #fff;
  color: #4b51e2;
  border: solid 2px #4b51e2;
  border-radius: 5px;
}

.masthead {
  background-color: #29def3;
  padding-bottom: 1em;
}

.logo {
  text-align: center;
  color: #000;
  font-family: "Muli", sans-serif;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #4b51e2;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

.pic {
  display: block;
  width: 100%;
}

h2 {
 color: #ef1111;
 font-family: "Muli", sans-serif;
}

footer {
  background-color: #000;
}

.foot {
  color: #fff;
  font-family: "Noto", serif;
}

p {
  font-family: "Muli", sans-serif;
}

.art {
  font-family: "Noto", serif;
}

.btn-ghost {
  background-color: #4b51e2;
  border: solid 2px #fff;
  border-radius: 5px;
  color: #fff;
  font-family: Muli, sans-serif;
}

.btn-ghost:hover {
  background-color: #fff;
  border: solid 2px #fff;
  border-radius: 5px;
  color: #4b51e2;
}

.more {
  font-family: "Muli", sans-serif;
}

.more a {
  color: #ef1111;
}

.more a:hover {
  color: #4b51e2;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
