.visually-hidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  border: 0;
  clip: rect(0 0 0 0);
}

nav .current {
  background-color: #fff;
  color: #4b51e2;
  border: solid 2px #4b51e2;
  border-radius: 5px;
}

.masthead {
  background-color: #29def3;
  padding-bottom: 1em;
}

.logo {
  text-align: center;
  color: #000;
  font-family: Muli, sans-serif;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #4b51e2;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

.pic {
  display: block;
  width: 100%;
}

h1 {
  color: #ef1111;
  font-family: Muli, sans-serif;
}

footer {
  background-color: #c2c2c2;
}

.foot {
  color: #000;
  font-family: Noto, serif;
}

p {
  font-family: Muli, sans-serif;
}

.art {
  font-family: Noto, serif;
}

.more {
  font-family: Muli, sans-serif;
}

.more a {
  color: #ef1111;
}

.more a:hover {
  color: #4b51e2;
}

.btn-ghost {
  background-color: #4b51e2;
  border: solid 2px #fff;
  border-radius: 5px;
  color: #fff;
  font-family: Muli, sans-serif;
}

.btn-ghost a:hover {
  background-color: #fff;
  border: solid 2px #fff;
  border-radius: 5px;
  color: #4b51e2;
}

.form {
  font-family: Muli, sans-serif;
}

.head {
  color: #ef1111;
}

fieldset {
  border: none;
}

.apply:hover {
  background-color: #ef1111;
  color: #fff;
}

@media only screen and (min-width: 36em) {

  .space-right {
    padding-right: .5em;
  }

  .space-left {
    padding-left: .5em;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
